body {
  background-color: #DAEAF1;
}

h1 {
  color: #66BFBF;
  text-shadow: 2px 2px 5px brown;
  letter-spacing: 5px;
  word-spacing: 10px;
}

h3 {
  color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
}

img {
  height: 144px;
}
